eurocircus_new/__pycache__/**

desk/__pycache__/**

desk/migrations/**

db.sqlite3

**/.DS_Store

desk/.DS_Store

desk/static/.DS_Store

desk/templates/.DS_Store

desk/static/admin/.DS_Store

desk/static/desk/.DS_Store

Северодвинск.xlsx

requirments.txt

.idea/