{% load staticfiles %}
<!DOCTYPE html>

<head>
	<title>Box</title>
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static "desk/box.css" %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<html lang="en">
	<meta charset="utf-8" />
</head>

{%for row in all_rows|slice:":1"%}
	<div class="back">
				<form method="post">
					{%csrf_token%}
    				<input type="hidden" name="next" value="{% url 'desk:odeum' date hour city.id%}">
				<button type="submit" class="btn-primary-backdays btn-lg sharp" name="Back", id="sell_button">Назад</button>
					<p></p>
				</form>
	</div>
{%endfor%}
<h3 name="Sector">СЕКТОР: {{sector}}</h3>
<h3>{{city}}</h3>
<h3>{{date_full|date:"d.m H:i" }}</h3>
{%for row in all_rows%}
	<div class="myrow{{forloop.counter}}">
		<p6>Ряд {{forloop.counter}} </p6>
		{%for seat in row%}
			<div class="seats">
				<form method="post">
					{%csrf_token%}
				<button type="submit" class="btn btn-primary" id="{{seat.sold}}" title="{{seat.price}},{{seat.name}}" name="Select" selected="{{seat.selected}}" value="{{seat.id}}">{{seat.seat_number}}</button>
				<input type="hidden" name="next" value="{% url 'desk:box' sector date hour city.id 'Noname'%}">
				</form>
			</div>
		{%endfor%}
	</div>
{%endfor%}


<div class="all_buttons">
		<div class="my_btn_sell">
				<form method="post">
					{%csrf_token%}
					<input type="hidden" name="next" value="{% url 'desk:box' sector date hour city.id 'Noname'%}">
					<button type="submit" class="btn btn-primary-sell btn-lg round" name="Sell", id="sell_button">Продать</button>
				</form>
		</div>



		<div class="my_btn_makefree">
					<form method="post">
						{%csrf_token%}
						<input type="hidden" name="next" value="{% url 'desk:box' sector date hour city.id 'Noname'%}">
						<button type="submit" class="btn btn-primary-mkfree btn-lg round" name="Free", id="sell_button">Освободить</button>
					</form>
		</div>

		<div class="my_btn_share">
						<form method="post">
							{%csrf_token%}
							<input type="hidden" name="next" value="{% url 'desk:box' sector date hour city.id 'Noname'%}">
							<button type="submit" class="btn btn-primary-event btn-lg round" name="Share", id="sell_button">Акция</button>
						</form>
		</div>
		

		<div class="my_btn_book">
						<form method="post">
							{%csrf_token%}
							<input type="hidden" name="next" value="{% url 'desk:box' sector date hour city.id 'Noname'%}">
							<button type="submit" class="btn btn-primary-book btn-lg round" name="Book", id="sell_button">Забронировать</button>
							<input type="text" name='booked_name'></input>
						</form>
		</div>

<h1>К оплате : {{batch}} </h1>
</body>
