

{% load staticfiles %}
<!DOCTYPE html>
<title>CreateCity</title>

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "desk/index.css" %}" type = "text/css"/>
<html lang="en">
<head>
	<title>Pasuhox</title>
	<meta charset="utf-8" />
</head>
<div class="back1">
	<style>

	.btn-primary-backdays {
	border-color: Black;
		background-color: rgba(180, 180, 180, 0.7);
		font-family: arial;
		font-size: 14px;
		color: #111;
		cursor: pointer;
	}

	.btn-primary-backdays:hover {
		background-color: rgba(195, 195, 195, 0.7);
	}
	</style>
	<a href="{%url 'desk:index'%}"><button class="btn-primary-backdays btn-lg sharp"> К выбору города </button>	</a>
</div>
<div class="container-fluid-create_day">
 <form action="{% url 'desk:create_city'%}" method="post">
    {% csrf_token%}
    <label for="party">Введите название города: </label>
    <input type="text" name="city_name">
  <div class="my_btn_discount">
      <button type="submit" class="btn-primary-backdays btn-lg sharp">Открыть Город   </button>
  </div>
  </form>

</div>
