{% load staticfiles %}
<!DOCTYPE html>


<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="apple-mobile-web-app-title" content="Trape">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="#3e396b" />
<meta name="google" value="notranslate"/>
<meta name="description" content="Learn to track the world, to avoid being traced"/>

<link rel="stylesheet" href="{% static "desk/odeum.css" %}" type = "text/css"/>
<html lang="en">
<head>
	<title>Odeum</title>
	<meta charset="utf-8"/>
	<div class="container-fluid-2 bg-2 text-center">
			{% if all_sectors %}
			  <h3>{{time|date:"d.m H:i" }}</h3>
			  <h4>Доступные для выбора сектора </h4>
			{%endif%}
	</div>

	<div class="my_btn_backdays">
		<a href="{% url 'desk:days' city_id %}"><button type="submit" class="btn-primary-backdays btn-lg sharp"> К выбору дней</button>
		</a><br><br>
		<a href="{% url 'desk:bookedlist' time.date time.hour city_id %}"><button type="submit" class="btn-primary-backdays btn-lg sharp">Брони</button>
		</a>

			<ul>
					<p></p>
					<li>Загруженность зала : {{stat}} % </li>
					<li>Общая прибыль : {{gain_total}} рублей</li>
					<li>Продано : {{count_sold}} билетов : {{gain_sold_pr}} % </li>
					<li>Продано по акции : {{count_share}}</li>
					<li>По пригласительным {{count_free}} билетов: {{gain_free_pr}} % </li>
					<li>Не продано {{count_vacant}} билетов</li>
	 		</ul>

	</div>


	{% for sector  in all_sectors|slice:":1" %}
			<div class="delete">
					<a href="{% url 'desk:city_stats' city_id %}">
						<button type="submit" class="btn-primary-stats btn-lg sharp" name="sector", id="sell_button"> Статистика города </button>
					</a>
						<p></p>
							<p></p>
					<form method="post" name='Delete'>
							{%csrf_token%}
							<input type="hidden" name="next" value="{%url 'desk:days' city_id%}">
							<button type="submit" class="btn-primary-deleteday btn-lg sharp" name="Delete", onclick="return confirm('Вы уверены, что хотите удалить день? ')" id="sell_button"> Удалить день </button>
					</form>


		</div>
		{%endfor%}
</head>

<body>


		<div class="layer_vip">
			{% for sector  in all_sectors|slice:":1" %}
				<a href ="{% url 'desk:box' 5 sector.date.date sector.date.hour city_id %}">
					<!-- <button type="submit" class="btn-primary-sector btn-lg v">VIP </button> -->
					<input type="image" class="top" src="{% static "/desk/VIP2.png" %}" alt=""  >

				</a>
			{%endfor%}
			</div>

		<div class="layer4">
			{% for sector  in all_sectors|slice:":1" %}
				<a href ="{% url 'desk:box' 4 sector.date.date sector.date.hour city_id %}"><font color="000">
					<!-- <button type="submit" class="btn-primary-sector btn-lg v">VIP </button> -->
					<input type="image" class="top" src="{% static "/desk/FOURTH2.png" %}" alt=""  >
					<div  class="centered4">Свободно мест: {{len_4}}/207</div>

				</a>
			{%endfor%}
			</div>

			<div class="layer3">
				{% for sector  in all_sectors|slice:":1" %}
					<a href ="{% url 'desk:box' 3 sector.date.date sector.date.hour city_id %}"><font color="000">
						<!-- <button type="submit" class="btn-primary-sector btn-lg v">VIP </button> -->
						<input type="image" class="top" src="{% static "/desk/THIRD2.png" %}" alt=""  >
							<div class="centered3">Свободно мест: {{len_3}}/181</div>
					</a>
				{%endfor%}
				</div>

	<div class="layer1">
		{% for sector  in all_sectors|slice:":1" %}
			<a href ="{% url 'desk:box' 1 sector.date.date sector.date.hour city_id %}"><font color="000">
				<!-- <button type="submit" class="btn-primary-sector btn-lg v">VIP </button> -->
				<input type="image" class="top" src="{% static "/desk/FIRST2.png" %}" alt=""  >
			<div class="centered1">Свободно мест: {{len_1}}/179</div>
			</a>
		{%endfor%}
		</div>


	<div class="layer2">
		{% for sector  in all_sectors|slice:":1" %}
			<a href ="{% url 'desk:box' 2 sector.date.date sector.date.hour city_id %}"><font color="000">
				<!-- <button type="submit" class="btn-primary-sector btn-lg v">VIP </button> -->
				<input type="image" class="top" src="{% static "/desk/SECOND2.png" %}" alt=""  >
				<div class="centered2">Свободно мест: {{len_2}}/207</div>
			</a>
		{%endfor%}
		</div>

</body>
