
	body {
		background-color: #b4b4b4; /* Background */
		height:100%
	}
.container-fluid-log_in {

	text-align:center;
	padding-top: 40px;
	padding-bottom: 0px;
	background-color: #b4b4b4; /* Whole background	*/
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 20px;
	color: black;
	letter-spacing: 1px;
	padding-left: 100px;
	padding-right: 100px;
}
.container-fluid-login-form{
	padding-bottom: 10px;
	text-align:center;
	padding-left: 33%;

}
