{% load staticfiles %}
<!DOCTYPE html>
<title>Log In</title>
<head>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "desk/logIn.css" %}" type = "text/css"/>
<html lang="en">
</head>



{% block content %}
<div class="container-fluid-log_in">
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

<form method="post" action="{% url 'desk:login' %}">
  <div class="container-fluid-login-form">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    </div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="https://eurocircus.herokuapp.com" />


</form>
</div>
{% endblock %}
